# Marcar binaris generats i carpetes d'IDE com "vendored" per Linguist
# Això fa que GitHub NO compti aquests fitxers en el càlcul de llenguatge

# Carpetes de build / distribució
dist/** linguist-vendored=true
build/** linguist-vendored=true
release/** linguist-vendored=true

# Fitxers binaris pesats
*.exe linguist-vendored=true
*.pkg linguist-vendored=true
*.pyz linguist-vendored=true
*.zip linguist-vendored=true
*.tar.gz linguist-vendored=true
*.toc linguist-vendored=true
*.pyc linguist-vendored=true

# Ignorar documents generats i pàgines HTML/TeX
docs/** linguist-vendored=true
site/** linguist-vendored=true
html/** linguist-vendored=true
public/** linguist-vendored=true
src/build/** linguist-vendored=true
*.html linguist-vendored=true
*.htm linguist-vendored=true
*.tex linguist-vendored=true
*.sty linguist-vendored=true
*.bib linguist-vendored=true

# Carpetes d'IDE
.idea/** linguist-vendored=true
